body {
  overflow: hidden;
  font-family: 'Poppins';
}

/* Validate Message */
.validation-message {
  position: relative;
  padding-left: 5px;
  animation: topToBottom 0.5s;
}

@keyframes topToBottom {
  from {
    top: -15px;
    opacity: 0;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

/* Validate Message */

.nodata-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-frame {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loading-spinner {
  width: 70px;
  height: 70px;
  background-image: url('../assets/images/brand-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.loading-spinner:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100%;
  margin-left: -14px;
  margin-top: -15px;
  box-shadow: 0 4px 0 0 #2152FF;
  transition: all 1s linear;
  animation: lds-eclipse 1s linear infinite;
}

@keyframes spinning {
  0% {
    transform: translate(-50%, -50%) scale(1) translateZ(0);
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1) translateZ(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1) translateZ(0);
  }
}

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.otp-input-field {
  border-radius: 40px;
  margin-top: 3px;
  height: 40px;
  width: 40px;
  border: 1.5px solid transparent;
  border-radius: 40px;
  text-align: center;
  background-image: linear-gradient(#F6F6F6, #F6F6F6), linear-gradient(to right, #21D4FD, #2152FF);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.custom-google-btn {
  background-color: #46adff !important;
  color: white !important;
  font-weight: bold !important;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-with-two-line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upgrade-btn {
  display: flex;
  align-items: center;
  background-color: #DFE2ED;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
  height: 8rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 2px;
}

.nested-sidebar::-webkit-scrollbar {
  width: 2px !important;
}

::-webkit-scrollbar-track {
  background-color: #E5ECFF;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #E5ECFF;
  border-radius: 10px;
}

.custom-dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 2px;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active-dot {
  background: #46BE82;
  border: 1px solid #C5E8DB;
}

.inactive-dot {
  background: #F6C451;
  border: 1px solid #FCD375;
}

.custom-label {
  font-size: 13px;
  font-weight: bold;
  color: rgb(99, 93, 93);
}

.custom-gradient-container {
  background-image: linear-gradient(to right, #21D4FD, #2152FF) !important;
}

.custom-link-btn {
  font-size: 13px;
  color: #0376cd;
}