.custom-btn {
    background-color: #304FFE;
    border-radius: 7px
}

.custom-input {
    border-radius: 5px !important;
    border: none !important;
    background-color: #ECEFF1 !important;
}

.subscription-btn {
    border-radius: 25px;
    background-color: #635D5D;
    border: 1px solid #635D5D;
    width: 88%;
}

.custom-table {
    border-collapse: collapse;
    border: none;
}

.custom-table-header {
    height: 1.7rem;
    display: flex;
    align-items: center;
    background: #F9F9F9;
    border-radius: 5px;
}

.custom-table-row {
    display: flex;
    align-items: center;
    border: 1.5px solid rgba(99, 93, 93, 0.3);
    border-radius: 5px;
}

.custom-table-header-cell {
    font-weight: 600;
    font-size: 14px;
    color: #304FFE;
}

.custom-table-row-cell {
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

/* Upload btn */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.upload-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border: 1.5px dashed #d9d9d9;
    background-color: #fafafa;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-preview-container:hover .image-preview-delete {
    display: block !important;
    z-index: 1;
}

.image-preview-container:hover {
    opacity: 0.4;
}

.image-preview-delete {
    position: absolute;
    display: none;
    color: white;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
}