body,
html {
  font-size: 16px;
  font-family: 'Poppins';
}

body {
  margin: 0;
  font-family: 'Poppins';
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-bg {
    background-color: white;
}
.title-header {
    position: relative;
    min-height: 100px;
    width: 25%;
}
.title-text {
    position: absolute;
    text-transform: uppercase;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.title-vector {
    position: absolute;
    top: 55%;
    right: 2%;
    z-index: 0;
}
.product-style {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 25px;
}
.footer-input .MuiInputBase-adornedEnd {
    background-color: #fff;
    font-size: 13px;
}
.footer-input .Mui-focused .MuiOutlinedInput-notchedOutline {
    border: none !important;
    outline: none;
}
.footer-copyright {
    padding: 20px 100px;
    background-color: #2B2B2B;
    text-align: center;
    font-size: 13px;
    padding-bottom: 3rem;
    color: white;
}
.ad-white-box {
    display: inline-flex;
    padding-left: 20px;
    margin: 0;
    align-items: center;
}
.carousel-box {
    background: #FADCCB;
    border-radius: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
}

.carousel-btn-back svg {
    fill: #635D5D;
    margin-left: 10px;
}

.carousel-btn svg {
    fill: #635D5D;
}
.carousel-img {
    height: 230px;
    display: block;
    transform: rotate(15deg);
    max-width: 230px;
    overflow: hidden;
    width: 100%;
}
.category-list {
    padding: 0 !important;
    font-size: 13px;
    color: black;
}
.category-list li {
    padding: 0 !important;
}
.category-list li:hover, .category-list li:focus {
    padding: 0 !important;
    color: #FC9F66;
    cursor: pointer;
}
.category-dropdown {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px rgb(0 0 0 / 8%), 0px 2px 3px rgb(0 0 0 / 17%);
    padding: 20px 10px;
    width: 45%;
    position: absolute;
    right: 7.5%;
    z-index: 1;
    top: 11%;
}
.dropdown-border .MuiOutlinedInput-notchedOutline,.dropdown-border:hover .MuiOutlinedInput-notchedOutline {
        border-color: transparent !important;
}
.dropdown-border .MuiSelect-select {
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.dropdown-border svg {
    color: white;
}
.dropdown-menu-item {
    font-size: 12px !important;
}
.drop-label {
    color: #ffffff !important;
    font-size: 12px;
}
.drop-label-black {
    color: black !important;
    font-size: 12px;
}
.dropdown-icon svg {
    color: black;
}
.cursor-pointer {
    cursor: pointer;
}
.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-search {
    margin-top: -5px !important;
}
.header-search #searchProduct {
    height: 0 !important;
}
.header-search fieldset legend span {
    display: none;
}
.header-search .search-icon {
    background: #FB2E86;
    border-radius: 0;
    padding: 4px;
    right: -1px;
    font-size: 13px;
}
.header-search .MuiInputBase-adornedEnd {
    border-radius: 0 !important;
}
.footer-search {
    margin-top: -5px !important;
}
.footer-search #searchProduct {
    height: 0 !important;
}
.footer-search fieldset legend span {
    display: none;
}
.outline-input {
    height: 45px !important;
    width: 100%;
}
.outline-input fieldset legend span {
    display: none;
}
.outline-input.Mui-focused fieldset {
    border: 2px solid #FB2E86  !important;
 }
.footer-search .search-icon, .footer-search .search-icon:hover {
    background: #FB2E86;
    border-radius: 3px;
    padding: 7px;
    color: #fff;
    right: -1px;
    font-size: 13px;
}
.footer-search .MuiInputBase-adornedEnd {
    // border-radius: 0 !important;
    background: white;
}
.search-icon svg {
    fill: white
}
.search-icon:hover {
    background-color: #fb2e868f;
}
.flexEnd {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.flexStart {
    justify-content: flex-start;
    display: flex;
    align-items: center;
}
.rating-yellow {
    fill: #FFC416 !important;
}
.desc-icon {
    fill: #000 !important;
    margin-right: 10px ;
}
.desc-tab button.Mui-selected {
    color: #151875;
}
.desc-tab button {
    color: #151875;
    text-transform: capitalize;
}
.desc-tab .MuiTabs-indicator {
    background-color: #151875;
}
.footer-list li {
    font-size: 0.75rem;
    color: #8A8FB9;
    padding-left: 0;
}
.cart-table {
    width: 100%;
    margin-bottom: 20px;
}
 .cart-table th {
    padding: 20px 0 10px 0;
 }
 .cart-table tr:first-child {
    border-bottom: 1px solid transparent;
 }
 .cart-table tr {
    border-bottom: 1px solid #ccc;
 }
 .cart-table td {
    padding: 10px 0;
 }

 .cart-table th:first-child {
    width: 40%;
 }
 .cartBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
 }
 .cartBox span {
    font-weight: bold;
    padding-bottom: 15px;
 }
 .greenBtn {
    width: 100%;
    text-transform: capitalize !important;
    background-color: #19D16F !important;
 }
 .pinkBtn {
    text-transform: capitalize !important;
    background-color: #FB2E86 !important;
 }
 .cart-test-field {
    margin-bottom: 15px !important;
    width: 100%;
    font-size: 13px  !important;
 }
 .cart-test-field input, .cart-test-field .MuiInputLabel-standard {
    font-size: 14px  !important;
 }
 .cart-test-field .MuiInputLabel-animated.Mui-focused {
    color:#FB2E86  !important;
 }
 .cart-test-field .Mui-focused:after {
    border-bottom: 2px solid #FB2E86  !important;
 }
 .link-style:hover {
    color: #FB2E86;
 }
 .grid-holder {
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    width: 75% !important;
    justify-content: center;
    position: relative;
    border-left: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
 }
 .shipBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
 }
 .payment-radio label span.MuiFormControlLabel-label {
    width: 100%
 }
 .card-img-holder {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-flex;
    margin-right: 11px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background-color: white;
 }
 .card-img-holder img {
    width: 25px;
    height: 20px;
 }

.same-box {
    border: 2px solid #ccc;
    display: grid;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 5px;
 }
 .payment-radio span.Mui-checked{
    color: #FF1A74;
 }