.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    box-sizing: initial;
    background-color: #0046FD;
}

.navigation ul {
    left: 0;
    top: 0;
    width: 100%;
    padding-left: 5px;
    height: calc(100vh - 18rem);
    overflow-y: auto;
    overflow-x: hidden;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: 500;
}

.navigation ul li.active {
    background-color: white;
}

.navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 20px;
    width: 100%;
    background-color: white;
    display: none;
}

.navigation ul li b:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 30px;
    background-color: #0046fd;
}

.navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: -20px;
    height: 20px;
    width: 100%;
    background-color: white;
    display: none;
}

.navigation ul li b:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 30px;
    background-color: #0046fd;
}

.navigation ul li.active b:nth-child(1),
.navigation ul li.active b:nth-child(2) {
    display: block;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white !important;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 53px;
    text-align: center;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 5px;
    height: 60px;
    line-height: 57px;
    white-space: normal;
    font-weight: bold;
}

.navigation ul li.active a .icon {
    color: #304FFE !important;
}

.navigation ul li.active a .title {
    color: black !important;
}

/* Header */
.header {
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    width: inherit;
    background-color: rgba(0, 70, 253, 0.1);
}

.content-body {
    height: calc(100vh - 50px);
    margin-top: 50px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.nested-list-active {
    background: #EBEFFE;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    color: #304FFE !important;
}

.custom-tabs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    grid-column-gap: 1.2em;
}

.custom-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ECECEC;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 25%);
    border-radius: 5px;
    color: #635D5D;
    height: 30px;
    cursor: pointer;
    padding: 5px;
}

.custom-tabs-active {
    background: #304FFE !important;
    color: #FFFFFF !important;
}