.login-btn {
    background-image: linear-gradient(to right, #21D4FD, #2152FF);
    border: none !important;
    border-radius: 5px;
}

.login-input {
    background: #FFFFFF;
    border: 3px solid #EBEFFE;
    border-radius: 6px;
}

.another-login {
    display: flex;
    flex-direction: row;
}

.another-login:before,
.another-login:after {
    content: "";
    flex: 1 1;
    border-bottom: 0.3px solid #635D5D;
    margin: auto;
}

.another-login:before {
    margin-right: 10px
}

.another-login:after {
    margin-left: 10px
}

.google-mail-btn {
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 8%), 0px 2px 3px rgb(0 0 0 / 17%);
    background-color: white;
    border-radius: 5px;
}

.gradient-link-btn {
    cursor: pointer;
    background: linear-gradient(to right, #21D4FD, #2152FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}