.lets-go-btn {
    background-image: linear-gradient(to right, #21D4FD, #2152FF);
    border: none !important;
    border-radius: 14px;
    width: 6rem !important;
}

/* Modal */
.custom-info-modal>.ant-modal>.ant-modal-content {
    border-radius: 55px !important;
    box-shadow: 0px 2px 30px rgb(0 70 253 / 41%), inset 7px 0px 20px rgb(0 70 253 / 39%), inset -9px -9px 75px rgb(229 229 229 / 60%) !important;
}

.domain-type-container {
    background-color: #252F40;
    border-radius: 50px;
    padding: 3px;
    border: 1px solid #635D5D;
}

.domain-type-header-text {
    color: #E94A3C;
    font-size: 13px;
}

.domain-type-header-text-active {
    color: #FFFFFF !important;
}

.domain-type-header-msg {
    color: #FFFFFF;
    font-size: 11px;
}

.domain-type-header-msg-active {
    color: #252F40 !important;
}

.domain-type-radio {
    border-radius: 50px;
    background-color: white;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.domain-type-radio-active {
    background-color: #252F40 !important;
}